/*** Site Colors ***

pale-grey: #fafbfc
pale-grey-two: #dbe2e8
dark: #2e3d49
bluegrey: #7d97ad
aquamarine: #02ccba

*/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #fafbfc;
    color: #2e3d49;
    font-family: Verdana;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: red;
}

h2,
h3,
h4 {
    font-family: 'Verdana', sans-serif;
}

p {
    line-height: 3;
}

.container {
    margin: auto;
    max-width: 1300px;
}


/*** Header Styling ***/
.page-header {
    background-image: url('../img/headerimage.jpg');
    background-position: 50% 75%;
    background-size: cover;
    text-align: center;
    padding: 1em;
    margin-bottom: 2rem;
    min-height: 25vh;
}

h1 {
    letter-spacing: 8px;
    position: relative;
    text-transform: uppercase;
    text-shadow: 0 0 1px white;
}

h1::after {
    border: 5px solid #02ccba;
    border-radius: 50%;
    content: '';
    height: 15px;
    width: 15px;
    position: absolute;
}


/*** Article Styling ***/
article,
aside {
    margin: 2em;
}

article header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

time {
    color: #7d97ad;
}

article img {
    height: auto;
    width: 100%;
}

.read-more {
    color: #02ccba;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.read-more::after {
    content: '►';
    position: relative;
    left: 7px;
    font-size: 80%;
    top: -1px;
}


/*** Sidebar Styling ***/
aside {
    border-top: 2px solid #dbe2e8;
    margin-top: 2em;
    padding-top: 2em;
}

.social-link {
    display: inline-block;
    margin-right: 0.75em;
}


/*** Footer Styling ***/
footer {
    border-top: 2px solid #dbe2e8;
    margin-top: 4em;
    padding: 2em;
    text-align: center;
}


/*** Reponsive Styles ***/
@media (min-width: 650px) {
    aside {
        display: flex;
    }

    .sidebar-text {
        margin-left: 2em;
    }

    .sidebar-text h2 {
        margin-top: 0;
    }
}

@media (min-width: 1000px) {
    .page-header {
        min-height: 35vh;
    }

    .container {
        display: flex;
    }

    main {
        flex: 1 1 70%;
    }

    aside {
        display: block;
        border-top: 0;
        border-left: 2px solid #dbe2e8;
        margin: 0;
        padding: 2em;
        flex: 0 1 30%;
        align-self: flex-start;
    }

    .sidebar-text {
        margin-left: 0;
    }

    .sidebar-text h2 {
        margin-top: 0.5em;
    }
}

/*** Helper Classes ***/

/* from the HTML5 Boilerplate project for hidden, but accessible headings: https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css#L126-L145 */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}
